.place__paragraph{
  color:#ffffff;
  margin:0;
  font-size:18px;
  line-height:29.34px;
  font-weight:400;
}

.place__paragraph:first-of-type{
  padding-bottom:26px;
}

@media screen and (max-width:1023px){
  .place__paragraph{
    font-size:16px;
    line-height:163%;
    font-weight:400;
  }
  .place__paragraph:first-of-type{
    padding-bottom:25px;
  }
  .place__paragraph:last-of-type{
    padding-bottom:0px;
  }
}
