.cover{
  margin:0 auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}

/*пропорциональная высота через calc (100% ширины окна просмотра на соотношение высоты и ширины картинки)*/
@media screen and (max-width:1279px){
  .cover{
      min-height: calc(100vw*740/1184);
    }
  }

